$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#select-resource-type {
  width: 150px;
}

#add-resources-container {
  height: 1000px;
  margin-top: 400px;
  background-color: purple;
  position: relative;
}

// #buffer-div {
//   height: 100px;
// }

.navbar {
  background-color: black;
  width: 95%;
}

.nav-item {
  padding: 10px 10px;
  margin: 40px 20px;
  font-size: 18px;
}

.dropdown-item {
  display: inline-block;
  margin-left:   0.5em;
  margin-right:  0.5em;
  position: relative;
  padding-bottom: 10px;
  a{
    color: #333;
  }
  &:hover .menu-submenu{
    display: block;
  }
  &:hover > a{
    color: #4F8EF7;
  }
}

.sidebar {
  background-color: orange;
  height: 500px;
  text-align: center;
}

.modal-dialog {
  position: absolute;
  background-color: white;
  padding: auto auto;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal {
  background-color: white;
  width: 600px;
  height: 300px;
  left: 25%;
  top: 25%;
}

.body {
  background-color: white;
}

.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.center-content {
  margin: 100px 0px 10px 0px;
}

.hidden {
  display: none;
}

button {
  padding: 10px;
  margin: 10px auto;
}

a {
  color: white;
}

table {
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

img {
  height: 80px;
  width: 140px;
}

i {
  font-size: 18px;
}
