$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#select-resource-type {
  width: 150px;
}

.header {
  background-color: red;
  text-align: center;
  width: 100%;
  height: 50px;
}

.navbar {
  background-color: black;
  margin-left: 0;
  width: 100%;
}

.nav-item {
  padding: 10px 50px;
  margin: 40px 20px;
  font-size: 18px;

}

.sidebar {
  background-color: orange;
  height: 500px;
  text-align: center;
  margin-top: 300px;
}

.body {
  background-color: white;
}

.footer {
  background-color: black;
  height: 100px;
}

.modal {
  background-color: black;
  width: 600px;
  height: 400px;
}

.center-content {
  margin: 100px 0px 10px 0px;
}

.hidden {
  display: none;
}

button {
  padding: 10px;
  margin: 10px auto;
}

a {
  color: white;
}

table {
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

img {
  height: 140px;
  width: 220px;
}

i {
  font-size: 18px;
}

.body.row {
  margin: 100px 0px 0px 0px;
  position: relative;
}
