$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#account-dropdown {
  margin: 20px 10px;
  padding: 15px;
}

#add-resources-container {
  background-color: black;
  height: 300px;
  margin: 10% auto;
}

#amor-logo {
  float: left;
  height: 40px;
  margin: 22px auto;
  width: 160px;
}

#home-img {
  height: 400px;
  width: 540px;
}

#main-nav {
  background-color: black;
}

#select-resource-type {
  width: 150px;
}

.about-page-content {
  padding: 10px;
}

.all-offers {
  margin: 10px;
}

.all-requests {
  margin: 10px;
}

.body {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: space-between;
}

.btn-success {
  background-color: #F79200;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clearfix {
  overflow: auto;
}

.collapse.in {
  display:block !important;
}

.dropdown-item {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 10px;
  position: relative;

  a {
    color: #333;
  }

  &:hover .menu-submenu {
    display: block;
  }

  &:hover > a {
    color: #4F8EF7;
  }
}

.footer {
  // align-self: stretch;
  background-color: black;
  width: 100%;
}

.form-show-btn {
  margin: 20px 10px 0;
  width: auto;
}

.form-buttons {
  margin: 10px 5px 0 10px;
  text-align: center;
}

.glyphicon-menu-hamburger {
  font-size: npx;
}

.landing-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.modal {
  background-color: white;
  height: 300px;
  left: 25%;
  top: 25%;
  width: 600px;
}

.modal-dialog {
  background-color: white;
  overflow: auto;
  overflow-y: auto;
  padding: auto;
  position: absolute;
  z-index: 10040;
}

.nav-item {
  font-size: 18px;
  margin: 20px 10px;
}

.navbar-brand {
  margin: 2px;
  padding: 1px;
}

.navbar-collapse {
  display: none!important;
}

.navbar-nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-toggle {
  background-color: black;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  display: inline-block;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 9px 10px;
  position: relative;
}

.navbar-toggle .icon-bar {
  background-color: black;
  color: white;
}

.resource-container {
  margin: 10px;
}

a {
  color: white;
}

img {
  height: 80px;
  width: 140px;
}

i {
  font-size: 18px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  margin-top: 100px;
}

table {
  border-color: black;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}
@media (min-width: 960px) {
  #main-nav {
    padding-bottom: 25px;
    padding-top: 25px;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  .navbar-toggle {
    visibility: hidden;
  }

  .nav-item {
    font-size: 24px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

@media all and (max-width: 990px) and (min-width: 768px) {
  .nav-item {
    font-size: 14px;
  }
  .navbar-toggle {
    visibility: hidden;
  }
}

@media all and (max-width: 768px) and (min-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  #amor-logo {
    height: 30px;
    width: 120px;
  }

  #home-img {
    height: 200px;
    width: 270px;
  }

  .navbar-nav {
    width: 25%;
  }

  .navbar-toggle {
    visibility: visible;
  }
}

@media all and (max-width: 599px) and (min-width: 0) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 12px;
  }

  #amor-logo {
    height: 25px;
    width: 100px;
  }

  #home-img {
    height: 100px;
    width: 135px;
  }

  .navbar-nav {
    width: 25%;
  }

  .navbar-toggle {
    visibility: visible;
  }
}
