$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#amor-logo {
  float:left;
  height: 40px;
  width: 160px;
  margin: 22px auto;
}

#home-img {
  height: 400px;
  width: 540px;
  margin: 10px auto;
}

.clearfix {
  overflow: auto;
}

#select-resource-type {
  width: 150px;
}

#add-resources-container {
  height: 300px;
  margin: 10% auto;
  background-color: black;
}

// #buffer-div {
//   height: 100px;
// }

#main-nav {
  background-color: black;
}

#account-dropdown {
  padding: 15px;
  margin: 20px 10px;
}

@media (min-width: 960px) {
  #main-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  }

.navbar-toggler {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  float: right;
}

.nav-item {
  margin: 20px 10px;
  font-size: 18px;
}

.glyphicon-menu-hamburger {
  font-size: npx;
}

.dropdown-item {
  display: inline-block;
  margin-left:   0.5em;
  margin-right:  0.5em;
  position: relative;
  padding-bottom: 10px;
  a{
    color: #333;
  }
  &:hover .menu-submenu{
    display: block;
  }
  &:hover > a{
    color: #4F8EF7;
  }
}



.modal-dialog {
  position: absolute;
  background-color: white;
  padding: auto auto;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal {
  background-color: white;
  width: 600px;
  height: 300px;
  left: 25%;
  top: 25%;
}

.body {
  background-color: white;
  padding-top: 400px;
  height: 1000px;
}

.form-buttons {
  margin: 10px 5px 0px 10px;
  text-align: center;
  }

.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.center-content {
  margin: 10px 10px 10px 10px;
}

// .hidden {
//   display: none;
// }

.about-page-content {
  padding: 10px;
}

.resource-container {
  margin: 10px;
}

.form-show-btn {
  margin: 20px 10px 0px 10px;
  width: auto;
}

.navbar-brand {
  margin: 2px;
  padding: 1px;
}

.all-offers {
  margin: 10px;
}

.all-requests {
  margin: 10px
}

a {
  color: white;
}


table {
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

img {
  height: 80px;
  width: 140px;
}

i {
  font-size: 18px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

@media all and (min-width: 960px) {
  .nav-item {
    font-size: 24px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
}
@media all and (max-width: 990px) and (min-width: 768px) {
  .nav-item {
    font-size: 14px;
  }
}
@media all and (max-width: 768px) and (min-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  #amor-logo {
    height: 40px;
    width: 80px;
  }
  #home-img {
    height: 200px;
    width: 270px;
  }
}
@media all and (max-width: 599px) and (min-width: 0) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 12px;
  }
  #amor-logo {
    height: 25px;
    width: 50px;
  }
  #home-img {
    height: 100px;
    width: 135px;
  }
}
